.num {
  font-weight: bold;
}

.company {
  background: linear-gradient(to left, #ffffff, #f9fff9);
}

.table-shikaku {
  border-collapse: separate;
  border-spacing: 0 20px;
}

@media (min-width: 550px) {
  .image-with-margin {
    margin-right: 2.5rem;
  }

  .bridge-margin {
    margin-right: -1rem;
  }
}

@media (max-width: 550px) {
  .image-with-margin {
    margin-bottom: 1rem;
  }

  .bridge-margin {
    margin-bottom: 1rem;
  }
}

.link-without-underline {
  text-decoration: none;
  cursor: pointer;
}

.img-margin-btm {
  margin-top: -2rem;
}
